@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

#root {
  width: 100%;
}

.game {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: 'Press Start 2P', cursive;
}

#controls {
  position: absolute;
  bottom: 20px;
  min-width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#controls div {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  gap: 10px;
}

#controls button {
  width: 100%;
  height: 40px;
  background-color: white;
  border: 1px solid lightgray;
  box-shadow: 3px 5px 0px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  outline: none;
}

#controls button:first-of-type {
  grid-column: 1/-1;
}

#score {
  position: absolute;
  top: 20px;
  left: 20px;

  font-size: 2em;
  color: white;
}

#result-container {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  #result {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
  }

  input[type="text"] {
    width: 100%;
    max-width: 320px;
    box-sizing: border-box;
    margin: 12px 0 16px 0;
    height: 48px;
    padding: 0 16px;
    font-family: inherit;
    font-size: 14px;
    border: 1px solid lightgray;
    outline: none;
    background-color: #fff;
  }

  button {
    width: 100%;
    max-width: 320px;
    box-sizing: border-box;
    height: 48px;
    padding: 0 16px;
    background-color: red;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
  }
}
